body {
    background: url('${pageContext.request.contextPath}/resources/images/background_2.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    /* Thêm thuộc tính này để định vị lớp phủ */
}

/* Lớp phủ làm mờ ảnh nền */
.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('${pageContext.request.contextPath}/resources/images/background_2.webp') no-repeat center center fixed;
    background-size: cover;
    filter: blur(6px);
    /* Độ mờ (blur) của ảnh nền */
    z-index: -1;
    /* Đảm bảo lớp phủ này không che khuất nội dung */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.login-container h1 {
    color: #4682B4;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #4682B4;
    border: none;
}

.btn-primary:hover {
    background-color: #1E90FF;
}

.form-label {
    color: #333;
}

#emailHelp {
    color: #6c757d;
}